@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: #192A6B;
    --cor-secundaria: #02428F;
    --cor-fundo: #A4A4A4;
    --cor-laranja: #E25A14;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height: 100vh;
    width: 100vw;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--cor-primaria);
    width: 96px;
    height: 100vh;
    transition: width 0.2s ease-in-out;
}
aside.open {
    width: 366px;
}

#menu-btn {
    margin-top: 24px;
}
#menu-btn.open {
    transform: rotate(-90deg);
}

h1{
    position: absolute;
    color: var(--cor-primaria);
    font-family: 'Open Sans';
    transition: all 0.2s ease-in-out;
}

aside .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96px;
    height: 100vh;
    margin-top: 90px;
    margin-bottom: 90px;
}

.icone-label {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.icone-label.open {
    margin-left: 24px;
}

#text-label {
    display: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    margin-left: 24px;
}
#text-label.open{
    display: flex;
}

#menu-btn {
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    width: 96px;
}

.menu-icon{
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    width: 96px;
    display: flex;
}

.menu-icon .a-menu-icon{
    width: 150px;
    height: 48px;
}

.menu-icon:hover {
    transition: all .1s ease;
    transform: scale(1.1, 1.1);
}

.menus-background {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    top: 15%;
    height:288px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    width: 480px;
    height: 288px;
    border-radius: 30px;
    min-width: 240px;
    min-height: 144px;
    box-shadow: -12px 12px 20px rgb(126, 126, 126);
}

.menu p {
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 28px;
    margin-top: 28px;
    font-weight: bolder;
}

.menu label {
    color: white;
    font-size: 130px;
    align-self: center;
    justify-self: center;
    font-weight: 700;
}

footer {
    margin-top: -80px;
    display: flex;
    justify-content: right;
    height: 80px;
}

#logo {
    width: 304px;
    height: 80px;
}

.icone-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* 
-----------------------------------------------------------
-------------------------Equipamentos----------------------
-----------------------------------------------------------
*/

.background {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 48px;
    top: 0;
    left: 96px;
    height: calc(100vh - 48px);
    width: calc(100vw - 96px - 48px);
    transition: all 0.2s ease-in-out;
}
.background.open {
    left: 366px;
    width: calc(100vw - 366px - 48px);
}

.search-div {
    display: flex;
}

#search {
    text-align: center;
    margin-top: 90px;
    height: 44px;
    width: calc(100% - 434px);
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    border: 2px solid #aaa;
}

#filter {
    margin-top: 41px;
    margin-left: 20px;
    width: 52px;
    height: 52px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
#filter:hover {
    transform: scale(1.05, 1.05)
}

#add-equipment {
    margin-top: 32px;
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#add-equipment:hover {
    transform: scale(1.05, 1.05);
}

.equipments-background {
    background-color: var(--cor-primaria);
    align-self: center;
    margin-top: 32px;
    width: 82%;
    height: 578px;
    border-radius: 20px;
    overflow-y: auto;
}

.all-background {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.all-background.visible {
    display: flex;
}

.add-background {
    background-color: #fff;
    width: 43%;
    height: 66%;
    border-radius: 20px;
}

.add-background h2 {
    margin: 10px;
    color: var(--cor-primaria);
    font-weight: 900;
}

#cancel {
    width: 168px;
    height: 48px;
    margin: 5px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#cancel:hover {
    transform: scale(1.05, 1.05);
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line-label {
    margin: 20px;
    width: 30%;
    text-align: center;
    color: var(--cor-primaria);
}

.line1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

form input {
    display: flex;
    margin-right: 20px;
    width: 100%;
    height: 54px;
    text-indent: 10px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    font-weight: 500;
    font-size: medium;
}

.custom-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: white;
    color: var(--cor-primaria);
    width: 100%;
    height: 54px;
    text-indent: 10px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.custom-button:hover {
    background-color: var(--cor-primaria);
    color: white;
}