@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-escura: #111D4A;
    --cor-primaria: #192A6B;
    --cor-secundaria: #02428F;
    --cor-fundo: #A4A4A4;
    --cor-laranja: #E25A14;
    --cor-borda: #D0D0D0;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height: 100vh;
    width: 100vw;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--cor-primaria);
    width: 96px;
    height: 100vh;
    transition: width 0.2s ease-in-out;
}
aside.open {
    width: 366px;
}

#menu-btn {
    margin-top: 24px;
}
#menu-btn.open {
    transform: rotate(-90deg);
}

h1{
    position: absolute;
    color: var(--cor-primaria);
    font-family: 'Open Sans';
    transition: all 0.2s ease-in-out;
}

aside .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96px;
    height: 100vh;
    margin-top: 90px;
    margin-bottom: 90px;
}

.icone-label {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.icone-label.open {
    margin-left: 24px;
}

#text-label {
    display: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    margin-left: 24px;
}
#text-label.open{
    display: flex;
}

#menu-btn {
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    width: 96px;
}

.menu-icon{
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    width: 96px;
    display: flex;
}

.menu-icon .a-menu-icon{
    width: 150px;
    height: 48px;
}

.menu-icon:hover {
    transition: all .1s ease;
    transform: scale(1.1, 1.1);
}

.menus-background {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    top: 15%;
    height:288px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    width: 480px;
    height: 288px;
    border-radius: 30px;
    min-width: 240px;
    min-height: 144px;
    box-shadow: -12px 12px 20px rgb(126, 126, 126);
}

.menu p {
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 28px;
    margin-top: 28px;
    font-weight: bolder;
}

.menu label {
    color: white;
    font-size: 130px;
    align-self: center;
    justify-self: center;
    font-weight: 700;
}

footer {
    margin-top: -80px;
    display: flex;
    justify-content: right;
    height: 80px;
}

#logo {
    width: 304px;
    height: 80px;
}

.icone-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* 
-----------------------------------------------------------
-------------------------Equipamentos----------------------
-----------------------------------------------------------
*/

.background {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 2%;
    top: 0;
    left: 96px;
    height: calc(100vh - 48px);
    width: calc(100vw - 96px - 48px);
    transition: all 0.2s ease-in-out;
    padding: 0;
}
.background.open {
    left: 366px;
    width: calc(100vw - 366px - 48px);
}

.search-div {
    display: flex;
}

#search {
    text-indent: 10px;
    margin-top: 90px;
    height: 44px;
    width: calc(100% - 434px);
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    border: 2px solid #aaa;
}

#filter {
    margin-top: 41px;
    margin-left: 20px;
    width: 52px;
    height: 52px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
#filter:hover {
    transform: scale(1.05, 1.05)
}

.add-equipment {
    margin-top: 32px;
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.add-equipment:hover {
    transform: scale(1.05, 1.05);
}

.equipments-background {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--cor-escura);
    border: solid 3px var(--cor-escura);
    margin-top: 32px;
    width: 82%;
    height: 53.53%;
    border-radius: 10px;
    gap: 18px;
    overflow-y: auto;
}

.equipments-background::-webkit-scrollbar {
    width: 10px;         
    height: 10px;              
}

.equipments-background::-webkit-scrollbar-track {
    background: var(--cor-fundo);
    border-radius: 4px;
}

.equipments-background::-webkit-scrollbar-thumb {
    background-color: var(--cor-borda);
    border-radius: 4px;
    border: 2px solid var(--cor-fundo);
}

.equipments-background::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

.all-add-background {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.all-add-background.visible {
    display: flex;
}

.all-edit-background {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.all-edit-background.visible {
    display: flex;
}


.add-background {
    background-color: #fff;
    width: 43%;
    height: 66%;
    border-radius: 20px;
}

.add-background h2 {
    margin: 10px;
    color: var(--cor-primaria);
    font-weight: 900;
}

.edit-background {
    width: 43%;
    height: 66%;
}

#cancel {
    width: 168px;
    height: 48px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#cancel:hover {
    transform: scale(1.05, 1.05);
}

#delete {
    width: 168px;
    height: 48px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#delete:hover {
    transform: scale(1.05, 1.05);
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line-label {
    margin: 20px;
    width: 30%;
    text-align: center;
    color: var(--cor-primaria);
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

form input {
    display: flex;
    margin-right: 20px;
    width: 100%;
    height: 42px;
    text-indent: 10px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    font-weight: 500;
    font-size: medium;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 85%;
}

.custom-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: white;
    color: var(--cor-primaria);
    width: 100%;
    height: 54px;
    text-indent: 10px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.custom-button:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.custom-button {
    color: #727272;
}

.add-div-edit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
}

.add-div {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: auto;
}

.add-div #add {
    margin-top: auto;
    margin: 20px;
}

.add-div-edit #aply {
    margin-top: auto;
    margin: 20px;
}

.add-div-edit #delete {
    color: var(--cor-laranja);
    margin-top: auto;
    margin: 20px;
}

.eq-background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 324px;
    height: 348px;
    background-color: var(--cor-fundo);
    border: solid 2px var(--cor-borda);
    margin: 10px;
    border-radius: 20px;
}

.eq-background img {
    height: 70%;
    border-radius: 15px;
}

.eq-background .eq-name {
    margin-bottom: auto;
    color: white;
    font-weight: 900;
    font-size: x-large;
}

.eq-background .edit-equipment-btn {
    margin-top: 10px;
    height: 48px;
    width: 112px;
    border-radius: 10px;
    border: solid 3px #d0d0d0;
    box-shadow: -3px 3px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    margin-bottom: auto;
    transition: transform 0.1s ease-in-out;
}

.eq-background .edit-equipment-btn:hover {
    transform: scale(1.05, 1.05);
}

.reservations-background {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--cor-escura);
    border: solid 3px var(--cor-escura);
    margin-top: 32px;
    width: 82%;
    height: 53.53%;
    border-radius: 10px;
    gap: 5px;
    overflow-y: auto;
}

.reservations-background::-webkit-scrollbar {
    width: 10px;         
    height: 10px;              
}

.reservations-background::-webkit-scrollbar-track {
    background: var(--cor-fundo);
    border-radius: 4px;
}

.reservations-background::-webkit-scrollbar-thumb {
    background-color: var(--cor-borda);
    border-radius: 4px;
    border: 2px solid var(--cor-fundo);
}

.reservations-background::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

.add-reservation {
    margin-top: 32px;
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.add-reservation:hover {
    transform: scale(1.05, 1.05);
}

.reservation-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 348px;
    height: 420px;
    background-color: var(--cor-fundo);
    border: solid 2px var(--cor-borda);
    margin: 5px;
    border-radius: 20px;
}

.line1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.line1 img {
    width: 76px;
}

.line1 button {
    width: 132px;
    height: 42px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-laranja);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.line1 button:hover {
    transform: scale(1.05, 1.05);
}

.title-label {
    color: white;
    font-weight: 900;
    font-size: large;
    text-indent: 45px;
}

.res-label {
    color: white;
    font-weight: 400;
    font-size: medium;
    text-indent: 45px;
    margin-bottom: 10px;
}

.line1 select {
    display: flex;
    color: #666666;
    margin-right: 20px;
    width: 100%;
    height: 42px;
    text-indent: 10px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    font-weight: 500;
    font-size: medium;  
}

.returns-background {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--cor-escura);
    border: solid 3px var(--cor-escura);
    margin-top: 32px;
    width: 82%;
    height: 67%;
    border-radius: 10px;
    gap: 5px;
    overflow-y: auto;
}

.returns-background::-webkit-scrollbar {
    width: 10px;         
    height: 10px;              
}

.returns-background::-webkit-scrollbar-track {
    background: var(--cor-fundo);
    border-radius: 4px;
}

.returns-background::-webkit-scrollbar-thumb {
    background-color: var(--cor-borda);
    border-radius: 4px;
    border: 2px solid var(--cor-fundo);
}

.returns-background::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

.return-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 18vw;
    height: 38.88vh;
    background-color: var(--cor-fundo);
    border: solid 2px var(--cor-borda);
    margin: 5px;
    border-radius: 20px;
}

.generate {
    margin-top: 32px;
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.generate:hover{
    transform: scale(1.05, 1.05);
}

.relatorios-background {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--cor-escura);
    border: solid 3px var(--cor-escura);
    margin-top: 32px;
    width: 82%;
    height: 53.53%;
    border-radius: 10px;
    gap: 18px;
    overflow-y: auto;
}

.relatorio-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18.33vw;
    height: 13.33vh;
    background-color: var(--cor-fundo);
    border: solid 2px var(--cor-borda);
    margin: 5px;
    border-radius: 20px;
}

.relatorio-background .date {
    color: white;
    font-weight: bold;
}

.relatorio-background .download-btn {
    width: 168px;
    height: 48px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px #d0d0d0;
    box-shadow: -4px 4px 0px #d0d0d0;
    background-color: white;
    font-size: large;
    font-weight: 900;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.dalt-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 20%;
    height: 15%;
    border-radius: 15px;
    margin-top: 5%;
    justify-self: center;
}

.dalt-mode .title {
    color: white;
    font-size: large;
}

.dalt-mode .in-background {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    margin-top: auto;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.499);
    border-radius: 15px;
}

.in-background .val {
    width: 100%;
    text-align: center;
    font-size: large;
    align-self: center;
    color: white;
}

.in-background button {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.499);
    color: var(--cor-primaria);
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: 900;
    border-radius: 15px;
}